@font-face {
    font-family: elite;
    src: url(/assets/font/elite.ttf)
}

@font-face {
    font-family: nunito;
    src: url(/assets/font/nunito.ttf)
}

body[theme = light] {
    --background: #ddd;
    --title: invert(0);
    --tag: invert(0) opacity(.8);
    --hover: invert(0) opacity(.5);
    --this: opacity(.8) sepia(1) hue-rotate(190deg) saturate(3);
    --link: #47b;
    --cursor: #999;
    --text: #666;
    --box: #ccc;
    --blank: #bbb
}

body[theme = dark] {
    --background: #333;
    --title: invert(1);
    --tag: invert(1) opacity(.8);
    --hover: invert(1) opacity(.5);
    --this: opacity(.8) sepia(1) hue-rotate(190deg) saturate(3);
    --link: #5af;
    --cursor: #888;
    --text: #aaa;
    --box: #555;
    --blank: #666
}

body {
    margin: 0;
    font-family: nunito;
    color: var(--text);
    background-color: var(--background);
    font-size: var(--font)
}

a {
    text-decoration: none;
    color: var(--link)
}

a:hover {
    color: var(--cursor)
}

footer {
    font-size: .8em;
    float: left;
    margin-top: 2em
}

footer a:first-child {
    display: block;
    font-family: elite
}

#spotlight {
    background-color: var(--background);
    font-family: monospace
}

.spl-title {
    font-size: 10px;
    margin: 0
}

.spl-footer {
    font-size: 10px;
    padding: .2em 1em
}

.top {
    overflow: hidden;
    font-family: elite;
}

.top a {
    float: left
}

.top a:not(:first-child) img {
    margin-top: .8em;
    height: 1em
}

.top a:not(:last-child) img {
    margin-right: 2em;
    filter: var(--tag)
}

.top a:not(:first-child):not(:last-child) img:hover, .top > img:hover {
    filter: var(--hover)
}

.top .this {
    filter: var(--this)
}

.top a:first-child img {
    filter: var(--title);
    height: 1.8em
}

.top > img {
    filter: var(--tag);
    cursor: pointer;
    display: none;
    width: 32px
}

.top .theme {
    float: right;
    display: inline
}

.main {
    font-family: nunito;
    line-height: 1.5
}

.main h1, .main h2, .main h3 {
    font-family: elite;
    margin: .5em 0 .5em 0
}

@media screen and (min-width: 80em) {
    :root {
        --font: 20px;
        --large: 40px
    }

    .main {
        max-width: 80em;
        padding: 1em 6em;
        margin: 0 auto
    }

    .top {
        max-width: 80em;
        padding: 2em 6em;
        margin: 0 auto
    }
}

@media screen and (min-width: 56em) and (max-width: 80em) {
    :root {
        --font: 18px;
        --large: 38px
    }

    .main {
        padding: 1em 4em
    }

    .top {
        padding: 2em 4em
    }
}

@media screen and (max-width: 56em) {
    :root {
        --font: 16px;
        --large: 32px
    }

    .main {
        padding: 1em 1em
    }

    .top {
        padding: 2em 1em
    }
}

@media screen and (max-width: 48em) {
    .top a {
        display: none
    }

    .top.active a:not(:first-child) {
        padding-top: 1em;
        display: block;
        text-align: left;
        float: none
    }

    .top > img {
        display: inline;
    }
}

* {
    box-sizing: border-box;
    transition-duration: .2s
}