@font-face {
    font-family: elite;
    src: url(/assets/font/elite.ttf)
}

@font-face {
    font-family: nunito;
    src: url(/assets/font/nunito.ttf)
}

body {
    margin: 0;
    font-family: nunito;
    color: #555;
    background-color: #eee;
    font-size: var(--font)
}

a {
    text-decoration: none;
    color: #07d
}

a:hover {
    color: #aaa
}

footer {
    font-size: .8em;
    float: left;
    color: #444;
    margin-top: 2em
}

footer a:first-child {
    display: block;
    font-family: elite
}

.top {
    overflow: hidden;
    font-family: elite;
}

.top a {
    float: left;
    padding-right: 2em
}

.top a:not(:first-child) {
    padding-top: .8em
}

.top a:not(:first-child) img {
    height: 1.2em;
    filter: opacity(80%)
}

.top a:not(:first-child) img:hover {
    height: 1.2em;
    filter: opacity(50%)
}

.top .this {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%)
}

.top a:first-child img {
    height: 2em
}

.top > img {
    cursor: pointer;
    display: none;
    width: 32px
}

.main {
    font-family: nunito;
    line-height: 1.5
}

.main h1, .main h2, .main h3 {
    font-family: elite;
    margin: .5em 0 .5em 0
}

@media screen and (min-width: 80em) {
    :root {
        --font: 20px
    }

    .main {
        max-width: 80em;
        padding: 1em 6em;
        margin: 0 auto
    }

    .top {
        max-width: 80em;
        padding: 2em 6em;
        margin: 0 auto
    }
}

@media screen and (min-width: 56em) and (max-width: 80em) {
    :root {
        --font: 18px
    }

    .main {
        padding: 1em 4em
    }

    .top {
        padding: 2em 4em
    }
}

@media screen and (max-width: 56em) {
    :root {
        --font: 16px
    }

    .main {
        padding: 1em 1em
    }

    .top {
        padding: 2em 1em
    }
}

@media screen and (max-width: 48em) {
    .top a {
        display: none
    }

    .top.active a:not(:first-child) {
        padding-top: 1em;
        display: block;
        text-align: left;
        float: none
    }

    .top > img {
        display: block;
    }
}

* {
    box-sizing: border-box;
    transition-duration: .2s
}